body {
	margin-top: 50px;
	font-family:sans-serif,verdana,Arial;
	text-align: center;
}

.createRoom {
	width: 400px;
	border: 1px solid #ccc;
	margin: 30px auto;
}

.container {
}

.head_image img {
	width: 300px;
}